
<div class="row">
  <div class="col-md-6">
    <h2>Evernote SDK Sample</h2>
    <div class="list-group">
      <a class="list-group-item" href="/sample">Sample</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>API</h2>
    <div class="list-group">
      <a class="list-group-item" href="/api/query">Query</a>
    </div>
  </div>
</div>

