
<h4>Notebooks</h4>

<div class="row">
  <div class="col-sm-12">
    <form action="/api/notebooks/query" method="POST">
      <div class="form-group">
        <label>AccessToken:</label>
        <input type="text" name="token" style="width: 900px;"
              value="<%if (data.params.token) { %><%= data.params.token %><% } %>">
      </div>

      <button type="submit" class="btn btn-success">Query</button>
    </form>
  </div>
</div>

<div class="row m-t-md">
  <div class="col-sm-12">
    <% if (data.error) { %>
      <label>API call Failed</label>
      <pre class="bg-danger"><code><%= data.error %></code></pre>
    <% } %>

    <% if (data.result) { %>
      <label>API call succeeded</label>
      <pre class="bg-success"><code><%= data.result %></code></pre>
    <% } %>
  </div>
</div>

